{{> "feature-image"}}

<header class="header">
	<h1 class="title">{{title}}</h1>

    {{#if custom_excerpt}}
        <p class="deck">{{custom_excerpt}}</p>
    {{/if}}
</header>

<section class="content">
    {{content}}
</section>

<footer class="footer">
	<div class="meta">
    	{{ tags limit="1" }}
    	<span class="sep">⁋</span>
    	{{# if tags.[1] }}
    		{{ tags from="2" }}
    		<span class="sep">⁋</span>
    	{{/ if }}
    	<time class="date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="YYYYMMDD"}}</time>
    </div>
</footer>

 <nav class="navigation">
	<div class="previous">
		{{#prev_post}}
			←&nbsp;<a href="{{url}}" title="{{title}}" rel="prev" data-theme="{{date format="MM"}}">{{title}}</a>
		{{/prev_post}}
	</div>

	<div class="next">
		{{#next_post}}
			<a href="{{url}}" title="{{title}}" rel="next" data-theme="{{date format="MM"}}">{{title}}</a>&nbsp;→
		{{/next_post}}
	</div>
</nav>