<article class="archive {{post_class}}">
	<h2 data-theme="{{date format="MM"}}"><a href="{{url}}" title="{{title}}">{{title}}</a></h2>
	
	<time class="date" datetime="{{date format="YYYY-MM-DD"}}">{{date locale="fr-fr" format="YYYYMMDD"}}</time>
</article>